<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop  
     http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx.xsd">  

	<!-- Hinernate	-->	

	<context:property-placeholder location="classpath:jdbc.properties"/>

	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass"
			value="${jdbc.driverClass}">
		</property>
		<property name="jdbcUrl"
			value="${jdbc.url}">
		</property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>zhou/yi/domain/Classname.hbm.xml</value>
				<value>zhou/yi/domain/Course.hbm.xml</value>
				<value>zhou/yi/domain/Student.hbm.xml</value>
				<value>zhou/yi/domain/Teacher.hbm.xml</value>
				<value>zhou/yi/domain/Question.hbm.xml</value>
				<value>zhou/yi/domain/Comment.hbm.xml</value>		
			</list>		
		</property>
	</bean>

	<!-- Spring--> 	
	<bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- dao -->
	<bean id="StudentDao" class="zhou.yi.dao.Impl.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="TeacherDao" class="zhou.yi.dao.Impl.TeacherDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="CourseDao" class="zhou.yi.dao.Impl.CourseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="ClassnameDao" class="zhou.yi.dao.Impl.ClassnameDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="QuestionDao" class="zhou.yi.dao.Impl.QuestionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="CommentDao" class="zhou.yi.dao.Impl.CommentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- service -->
	<bean id="LoginService" class="zhou.yi.service.Impl.LoginServiceImpl">
		<property name="teacherDao" ref="TeacherDao"></property>
		<property name="studentDao" ref="StudentDao"></property>
	</bean>
	
	<bean id="CourseService" class="zhou.yi.service.Impl.CourseServiceImpl">
		<property name="courseDao" ref="CourseDao"></property>
	</bean>
	
	<bean id="ClassnameService" class="zhou.yi.service.Impl.ClassnameServiceImpl">
		<property name="classnameDao" ref="ClassnameDao"></property>
	</bean>
	
	<bean id="TeacherService" class="zhou.yi.service.Impl.TeacherServiceImpl">
		<property name="teacherDao" ref="TeacherDao"></property>
	</bean>
	
	<!-- action -->
	<bean id="LoginAction" class="zhou.yi.action.LoginAction" scope="prototype">
		<property name="loginService" ref="LoginService"></property>
	</bean>
	
	<bean id="TeacherListCourseAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherListCourseAction">
	</bean>
	
	<bean id="TeacherListClassAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherListClassAction">
	</bean>
	
	<bean id="TeacherCourseListStudentAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherCourseListStudentAction">
		<property name="courseService" ref="CourseService"></property>
	</bean>
	
	<bean id="TeacherClassListStudentAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherClassListStudentAction">
		<property name="classnameService" ref="ClassnameService"></property>
	</bean>
	
	<bean id="TeacherEditImformationAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherEditImformationAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>
	 
	 <bean id="TeacherEditPasswordAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherEditPasswordAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	 	<property name="loginService" ref="LoginService"></property>
	 </bean>
	 
	 <bean id="TeacherAddCourseAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherAddCourseAction">
	 	<property name="courseService" ref="CourseService"></property>
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>
	 
	  <bean id="TeacherAddClassAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherAddClassAction">
	 	<property name="classnameService" ref="ClassnameService"></property>
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>

</beans>