<?xml version="1.0" encoding="UTF-8"?>
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/aop  
     http://www.springframework.org/schema/aop/spring-aop.xsd 
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx.xsd">  

	<!-- Hinernate	-->	

	<context:property-placeholder location="classpath:jdbc.properties"/>

	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass"
			value="${jdbc.driverClass}">
		</property>
		<property name="jdbcUrl"
			value="${jdbc.url}">
		</property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>zhou/yi/domain/Classname.hbm.xml</value>
				<value>zhou/yi/domain/Course.hbm.xml</value>
				<value>zhou/yi/domain/Student.hbm.xml</value>
				<value>zhou/yi/domain/Teacher.hbm.xml</value>
				<value>zhou/yi/domain/Question.hbm.xml</value>
				<value>zhou/yi/domain/Comment.hbm.xml</value>
				<value>zhou/yi/domain/Department.hbm.xml</value>
				<value>zhou/yi/domain/Document.hbm.xml</value>
				<value>zhou/yi/domain/Homework.hbm.xml</value>		
			</list>		
		</property>
	</bean>

	<!-- Spring--> 	
	<bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- dao -->
	<bean id="StudentDao" class="zhou.yi.dao.Impl.StudentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="TeacherDao" class="zhou.yi.dao.Impl.TeacherDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="CourseDao" class="zhou.yi.dao.Impl.CourseDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="ClassnameDao" class="zhou.yi.dao.Impl.ClassnameDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="QuestionDao" class="zhou.yi.dao.Impl.QuestionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="CommentDao" class="zhou.yi.dao.Impl.CommentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="DepartmentDao" class="zhou.yi.dao.Impl.DepartmentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="DocumentDao" class="zhou.yi.dao.Impl.DocumentDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="HomeworkDao" class="zhou.yi.dao.Impl.HomeworkDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- service -->
	<bean id="LoginService" class="zhou.yi.service.Impl.LoginServiceImpl">
		<property name="teacherDao" ref="TeacherDao"></property>
		<property name="studentDao" ref="StudentDao"></property>
		<property name="departmentDao" ref="DepartmentDao"></property>
	</bean>
	
	<bean id="CourseService" class="zhou.yi.service.Impl.CourseServiceImpl">
		<property name="courseDao" ref="CourseDao"></property>
	</bean>
	
	<bean id="ClassnameService" class="zhou.yi.service.Impl.ClassnameServiceImpl">
		<property name="classnameDao" ref="ClassnameDao"></property>
	</bean>
	
	<bean id="TeacherService" class="zhou.yi.service.Impl.TeacherServiceImpl">
		<property name="teacherDao" ref="TeacherDao"></property>
	</bean>
	
	<bean id="StudentService" class="zhou.yi.service.Impl.StudentServiceImpl">
		<property name="studentDao" ref="StudentDao"></property>
	</bean>
	
	<bean id="QuestionService" class="zhou.yi.service.Impl.QuestionServiceImpl">
		<property name="questionDao" ref="QuestionDao"></property>
	</bean>
	
	<bean id="CommentService" class="zhou.yi.service.Impl.CommentServiceImpl">
		<property name="commentDao" ref="CommentDao"></property>
	</bean>
	
	<bean id="DocumentService" class="zhou.yi.service.Impl.DocumentServiceImpl">
		<property name="documentDao" ref="DocumentDao"></property>
	</bean>
	
	<bean id="HomeworkService" class="zhou.yi.service.Impl.HomeworkServiceImpl">
		<property name="homeworkDao" ref="HomeworkDao"></property>
	</bean>
	
	<!-- action -->
	<bean id="LoginAction" class="zhou.yi.action.LoginAction" scope="prototype">
		<property name="loginService" ref="LoginService"></property>
	</bean>
	
	<bean id="TeacherListCourseAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherListCourseAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	</bean>
	
	<bean id="TeacherListClassAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherListClassAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	</bean>
	
	<bean id="TeacherCourseListStudentAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherCourseListStudentAction">
		<property name="courseService" ref="CourseService"></property>
	</bean>
	
	<bean id="TeacherClassListStudentAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherClassListStudentAction">
		<property name="classnameService" ref="ClassnameService"></property>
	</bean>
	
	<bean id="TeacherEditImformationAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherEditImformationAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>
	 
	 <bean id="TeacherEditPasswordAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherEditPasswordAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>
	 
	 <bean id="TeacherAddCourseAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherAddCourseAction">
	 	<property name="courseService" ref="CourseService"></property>
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>
	 
	  <bean id="TeacherAddClassAction" scope="prototype"
	 class="zhou.yi.action.teacher.TeacherAddClassAction">
	 	<property name="classnameService" ref="ClassnameService"></property>
	 	<property name="teacherService" ref="TeacherService"></property>
	 </bean>
	 
	 <bean id="StudentListCourseAction" scope="prototype"
	 class="zhou.yi.action.student.StudentListCourseAction">
	 	<property name="studentService" ref="StudentService"></property>
	</bean>
	
	<bean id="StudentAddCourseAction" scope="prototype"
	 class="zhou.yi.action.student.StudentAddCourseAction">
	 	<property name="courseService" ref="CourseService"></property>
	 	<property name="studentService" ref="StudentService"></property>
	</bean>
	
	<bean id="StudentEditImformationAction" scope="prototype"
	 class="zhou.yi.action.student.StudentEditImformationAction">
	 	<property name="studentService" ref="StudentService"></property>
	 	<property name="classnameService" ref="ClassnameService"></property>
	</bean>
	
	<bean id="StudentEditPasswordAction" scope="prototype"
	 class="zhou.yi.action.student.StudentEditPasswordAction">
	 	<property name="studentService" ref="StudentService"></property>
	</bean>
	
	<bean id="DepartmentListAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentListAction">
	</bean>
	
	<bean id="DepartmentCourseListAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentCourseListAction">
	 	<property name="courseService" ref="CourseService"></property>
	</bean>
	
	<bean id="DepartmentCourseAddAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentCourseAddAction">
	 	<property name="courseService" ref="CourseService"></property>
	</bean>
	
	<bean id="DepartmentClassListAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentClassListAction">
	 	<property name="classnameService" ref="ClassnameService"></property>
	</bean>
	
	<bean id="DepartmentClassAddAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentClassAddAction">
	 	<property name="classnameService" ref="ClassnameService"></property>
	</bean>
	
	<bean id="DepartmentStudentListAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentStudentListAction">
	 	<property name="studentService" ref="StudentService"></property>
	</bean>
	
	<bean id="DepartmentStudentAddAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentStudentAddAction">
	 	<property name="studentService" ref="StudentService"></property>
	</bean>
	
	<bean id="DepartmentTeacherListAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentTeacherListAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	</bean>
	
	<bean id="DepartmentTeacherAddAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentTeacherAddAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	</bean>
	
	<bean id="DepartmentDeleteStudentAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentDeleteStudentAction">
	 	<property name="studentService" ref="StudentService"></property>
	</bean>
	
	<bean id="DepartmentDeleteTeacherAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentDeleteTeacherAction">
	 	<property name="teacherService" ref="TeacherService"></property>
	</bean>
	
	<bean id="DepartmentDeleteCourseAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentDeleteCourseAction">
	 	<property name="courseService" ref="CourseService"></property>
	</bean>
	
	<bean id="DepartmentDeleteClassnameAction" scope="prototype"
	 class="zhou.yi.action.department.DepartmentDeleteClassnameAction">
	 	<property name="classnameService" ref="ClassnameService"></property>
	</bean>
	
	<bean id="TopicGetAllAction" scope="prototype"
	 class="zhou.yi.action.question.TopicGetAllAction">
	 	<property name="questionService" ref="QuestionService"></property>
	</bean>
	
	<bean id="TopicGetTeaAction" scope="prototype"
	 class="zhou.yi.action.question.TopicGetTeaAction">
	 	<property name="questionService" ref="QuestionService"></property>
	</bean>
	
	<bean id="TopicGetStuAction" scope="prototype"
	 class="zhou.yi.action.question.TopicGetStuAction">
	 	<property name="questionService" ref="QuestionService"></property>
	</bean>
	
	<bean id="TopicDetailAction" scope="prototype"
	 class="zhou.yi.action.question.TopicDetailAction">
	 	<property name="questionService" ref="QuestionService"></property>
	 	<property name="commentService" ref="CommentService"></property>
	</bean>
	
	<bean id="TopicAddAction" scope="prototype"
	 class="zhou.yi.action.question.TopicAddAction">
	 	<property name="questionService" ref="QuestionService"></property>
	</bean>
	
	<bean id="CommentAddAction" scope="prototype"
	 class="zhou.yi.action.comment.CommentAddAction">
	 	<property name="questionService" ref="QuestionService"></property>
	 	<property name="commentService" ref="CommentService"></property>
	</bean>
	
	<bean id="HomeworkMainAction" scope="prototype"
	 class="zhou.yi.action.homework.HomeworkMainAction">	
	</bean>
	
	<bean id="HomeworkListAction" scope="prototype"
	 class="zhou.yi.action.homework.HomeworkListAction">
	 	<property name="homeworkService" ref="HomeworkService"></property>	
	</bean>
	
	<bean id="HomeworkAddAction" scope="prototype"
	 class="zhou.yi.action.homework.HomeworkAddAction">
	 	<property name="homeworkService" ref="HomeworkService"></property>	
	</bean>
	
	<bean id="DocumentDownloadAction" scope="prototype"
	 class="zhou.yi.action.document.DocumentDownloadAction">
	 	<property name="homeworkService" ref="HomeworkService"></property>	
	 	<property name="documentService" ref="DocumentService"></property>	
	</bean>
	
	<bean id="DocumentUploadAction" scope="prototype"
	 class="zhou.yi.action.document.DocumentUploadAction">
	 	<property name="homeworkService" ref="HomeworkService"></property>	
	 	<property name="documentService" ref="DocumentService"></property>	
	</bean>
	


</beans>